

    * {
    color:rgb(20, 85, 55);
    box-sizing: border-box;
}
aside{
    height: 100%;
    width: 18% ;
    background-color: #90bdb9;
    padding: 10px ;
    position: absolute;
    border: 1px solid grey;
}

h1{
   text-align: center;
   color: #3d105a;
   margin-bottom: 20px;
   text-decoration: underline rgb(72, 101, 112);

}
.article-box{
    height: 300px;
    background-color: rgb(136, 209, 185);
    padding: 20px 10px;
    margin: 20px 10px;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 20%;
   overflow-wrap: break-word;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    margin-left: 20%;
    justify-content: space-between;
}
.container img{
    flex-wrap: wrap;
    width: 320px;
    height: 300px;
    margin: 10px 0;
}

header{
    background-color: rgb(185, 223, 223);
    text-align: center;
    justify-content: center;
}

footer{
    background-color:rgb(185, 223, 223);
    text-align: center;
  
}
aside a{
    color: #211c64 ;
    display:block;
    padding: 10px;
    border: 0px solid grey;
}

h2{
    font-family: cursive;
}